* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #fff;
  margin: 20px 0;
  margin-top: -75vh;
  margin-bottom: 70px;
  text-shadow: 2px 2px #000;
}

.busca {
  display: flex;
  width: 300px;
}
.busca #searchInput {
  flex: 1;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.busca #searchInput:focus {
  box-shadow: inset 1px 4px 7px rgba(0, 0, 0, 0.5);
}

.busca button {
  padding: 10px;
  font-size: 15px;
  border: 0;
  background-color: #0066cc;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.busca button:hover {
  background-color: #007fff;
}

.resultado {
  width: 300px;
  display: none;
  border: 1px dotted #fff;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.titulo {
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.info {
  display: flex;
  width: 100%;
}
.info .temp {
  flex: 1;
  text-align: center;
}
.info .vento {
  flex: 1;
  text-align: center;
}
.tempTitulo,
.ventoTitulo {
  color: #777;
  font-size: 16px;
  margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.tempInfo sup {
  font-size: 15px;
  font-weight: normal;
}
.ventoInfo span {
  font-size: 15px;
  font-weight: normal;
}
.ventoArea {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  padding-left: 25px;
  padding-top: 25px;
}
.ventoPonto {
  width: 15px;
  height: 1px;
  background-color: #fff;
  transform-origin: left;
}

.aviso {
  color: #fff;
  padding-top: 30px;
  font-weight: 550;
}

.footer {
  width: 100%;
  height: 6.5rem;
  font-size: 1.1rem;
  color: #000;
  display: flex;
  box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.5);
  bottom: 0;
  position: absolute;
}

footer .copy {
  margin-left: 7.5rem;
}

footer .powered {
  margin-top: -1.4rem;
  margin-left: 64.5rem;
}

footer .logo-footer {
  width: 9.3rem;
  height: 2rem;
  float: right;
  margin-left: 0.3rem;
  margin-top: -0.1rem;
  cursor: pointer;
}

@media (max-width: 414px) {
  .footer {
    height: 5rem;
    font-size: 0.9rem;
    bottom: 0;
    position: fixed;
  }

  footer .copy {
    margin-left: 1rem;
  }

  footer .powered {
    margin-top: -1rem;
    margin-left: 13.9rem;
  }

  footer .logo-footer {
    width: 6rem;
    height: 1.4rem;
    margin-top: -0.2rem;
    margin-right: 1rem;
    margin-left: 0.1rem;
  }
} ;
